body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('fundo.jpeg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    color: #2c3e50;
}

h1, h2, h3 {
    color: #2c3e50;
}

.card-header button {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2em;
}

.card-header button:hover {
    text-decoration: none;
    color: #0056b3;
}

.card-body {
    background-color: #f8f9fa;
}

.card-body p, .card-body ul {
    margin-bottom: 1em;
}

ul {
    list-style-type: disc;
    padding-left: 1.5em;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 2em;
    background-color: #ffffff;
    margin-top: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1em;
}

input, select {
    padding: 0.5em;
    font-size: 1em;
}

button {
    margin-top: 2em;
    padding: 0.7em;
    font-size: 1em;
    background-color: #008cba;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005f5f;
}

p {
    font-size: 1.1em;
    line-height: 1.5em;
}

a {
    display: block;
    margin-top: 2em;
    text-align: center;
    color: #008cba;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.destino {
    border: 1px solid #ddd;
    padding: 1em;
    margin-bottom: 1em;
    background-color: #f9f9f9;
}

.destino h3 {
    margin-top: 0;
}

.destino ul {
    list-style-type: disc;
    margin-left: 1.5em;
}

.container h2 {
    border-bottom: 2px solid #008cba;
    padding-bottom: 0.5em;
}

#map {
    width: 100%;
    height: 400px;
    margin-bottom: 2em;
}