<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>EzTravel - Planeje sua Viagem</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Planeje sua Viagem com o EzTravel</h1>
        <form action="/gerar_guia" method="post">
            <!-- Campos existentes -->
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="orcamento">Orçamento (em R$):</label>
            <input type="number" id="orcamento" name="orcamento" required>

            <label for="descricao_viagem">Descrição da Viagem:</label>
            <textarea id="descricao_viagem" name="descricao_viagem" rows="5" placeholder="Descreva o que você gostaria nesta viagem..."></textarea>
            
            <label for="dias">Dias de Viagem</label>
            <input type="number" id="dias" name="dias" required>

            <label for="numero_viajantes">Numero de Viajantes</label>
            <input type="number" id="numero_viajantes" name="numero_viajantes" required>

            <label for="data_inicio">Data de Início:</label>
            <input type="date" id="data_inicio" name="data_inicio" class="form-control" required min="{{ today }}">
    

            <button type="submit">Gerar Plano de Viagem</button>
        </form>
    </div>
</body>
</html>
